body {
    background-image: url(../img/fondo.png);
    background-attachment: fixed;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    background-color: rgb(220, 233, 245);
    display: inline-block;
    padding: 1rem;
}

h1, h2{
    color: rgb(27, 64, 99)
}

header{
    text-align: center;
}

.header-contenido{
    text-align: left;
    background-color: rgb(220, 233, 245);
    padding: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.foto-principal{
    max-width: 25rem;
    height: auto;
}

.cita{
    font-size: 2rem;
}

.EncabezadoInfo{
    display: flex;
    flex-direction: column;
}

nav ul{
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  margin-top: 10rem;
  padding: 0;
}

nav li{
	display: inline-block;	
}

nav a{
    font-size: 1.5em;
	line-height: 2.2em;
	padding: 0.4em 1em;
	text-align: center;
	text-decoration: none;
    padding: 1rem;
    background-color: rgb(176, 211, 244);
}

a:link{
	color: rgb(6, 40, 61);
}
a:visited{
	color: rgb(37, 109, 133);
}
a:hover{
	color: rgb(71, 181, 255);
}
a:active{
	color: rgb(223, 246, 255);
}

